* {
  transition: all 0.25s;
  }

body {
  margin: 0;
  padding: 0;
  background-color: steelblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 80%;
  flex-direction: column;
  font-family: 'Arial', sans-serif; /* Cambia la fuente a Arial */
  overflow: hidden; /* Elimina el scroll */
  position: relative; /* Necesario para posicionar elementos absolutamente dentro del body */
}

#logo {
  width: 70%;
  height: auto;
  max-width: 300px; /* Asegura que no sea más grande que el contenedor de felicitaciones */
  display: block;
  margin: 0 auto;
}

/* Estilos para el título */
h1 {
  font-family: 'Arial', sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente que prefieras */
  color: green; /* Cambia el color del texto a verde */
  text-shadow: 2px 2px 4px white; /* Añade una sombra blanca */
  font-size: 2.5em; /* Ajusta el tamaño de la fuente según tus necesidades */
  text-align: center; /* Centra el texto */
  margin-top: 5px; /* Reduce el margen superior */
  margin-bottom: 5px; /* Reduce el margen inferior */
}

/* Estilos para el contenedor de módulos */
#modulos {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los contenedores horizontalmente */
  margin: 5px; /* Reduce el margen */
  overflow: hidden; /* Elimina el scroll */
}

/* Estilos para cada contenedor */
.contenedor {
  display: flex;
  flex-direction: row; /* Cambia a fila horizontal */
  justify-content: center; /* Centra los módulos dentro del contenedor */
  gap: 10px; /* Reduce el espacio entre los módulos */
}

/* Estilos para cada módulo */
.modulo {
  width: 200px; /* Reduce el tamaño del módulo */
  height: 200px; /* Reduce el tamaño del módulo */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centrar el contenido del módulo */
  margin-bottom: 5px; /* Reduce el espacio debajo de cada módulo */
  display: inline-block; /* Asegurar que los módulos se alineen correctamente */
}

.modulo img {
  width: 150px; /* Reduce el tamaño de la imagen */
  height: 150px; /* Reduce el tamaño de la imagen */
  object-fit: contain; /* Ajusta para que la imagen no se recorte */
  transition: transform 0.3s;
}

.modulo img:hover {
  transform: scale(1.05);
}

.estado-modulo {
  font-size: 12px; /* Tamaño de letra más pequeño */
  color: #333;
  background-color: #f0f0f0; /* Ajusta el color de fondo según el estilo de las opciones */
  border: 1px solid #ccc; /* Ajusta el borde según el estilo de las opciones */
  padding: 3px; /* Reduce el padding */
  border-radius: 5px; /* Ajusta el radio del borde según el estilo de las opciones */
  display: block; /* Asegura que los contenedores sean visibles */
}

/* Estilos para el contenedor de iconos */
#icon-container {
  display: flex;
  justify-content: space-between; /* Distribuye los iconos horizontalmente */
  width: 50%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

/* Estilos para los iconos */
#resultados {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

#reiniciar {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
  #modulos {
      flex-direction: column;
      align-items: center;
  }
  .contenedor {
      flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  }
}
