* {
  transition: all 0.25s;
}

body {
  margin: 0;
  padding: 0;
  background-color: steelblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow-x: hidden; /* Evita el scroll lateral */
}

#logo {
  width: 90%;
  height: auto;
  max-width: 700px; /* Asegura que no sea más grande que el contenedor de felicitaciones */
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: 'Arial', sans-serif;
  color: green;
  text-shadow: 2px 2px 4px white;
  font-size: 2.5em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#modulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px; /* Reduce el espacio entre los módulos */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  align-items: flex-end; /* Alinea los elementos al final del contenedor */
}

#contenedor2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: relative; /* Hacemos este contenedor relativo para colocar los iconos con posición absoluta */
}

#resultados, #reiniciar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute; /* Los elementos se colocarán en la parte inferior */
}

#resultados {
  bottom: 40px; /* Posiciona 'resultados' al fondo, ajusta el valor según sea necesario */
  left: 300px;   /* Ajusta según donde quieras posicionarlo horizontalmente */
}

#reiniciar {
  bottom: 40px; /* Posiciona 'reiniciar' al fondo, ajusta el valor según sea necesario */
  right: 300px;  /* Ajusta según donde quieras posicionarlo horizontalmente */
}


.modulo {
  width: 250px; /* Ajusta el tamaño del módulo */
  height: 230px; /* Ajusta el tamaño del módulo */
  display: flex;
  flex-direction: column; /* Asegura que el contenido del módulo se alinee verticalmente */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  display: inline-block;
  
}

.modulo img {
  width: 180px; /* Ajusta el tamaño de la imagen */
  height: 180px; /* Ajusta el tamaño de la imagen */
  object-fit: contain;
  transition: transform 0.3s;
}

.modulo img:hover {
  transform: scale(1.05);
}

.estado-modulo {
  font-size: 12px;
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 1px;
  border-radius: 5px;
  display: block;
  margin-top: auto; /* Alinea el texto al final del módulo */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
  #modulos {
      width: 80%;
      flex-direction: column;
      align-items: center;
  }
  .contenedor {
      flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  }
}
