* {
  transition: all 0.25s;
}

body {
  margin: 0;
  padding: 0;
  background-color: steelblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 120%;
  flex-direction: column;
}

#encabezado {
  width: 65vw; /* Ajusta el ancho del encabezado */
  height: auto; /* Ajusta la altura automáticamente */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.opcion {
  width: 35vw; /* Ajusta el ancho del encabezado */
  height: auto; /* Ajusta la altura automáticamente */
  text-align: center;
  flex-grow: 1; /* Permite que cada opción crezca equitativamente */
  background: white; /* Fondo blanco */
  border-radius: 10px;
  margin: 10px; /* Espacio alrededor de cada opción */
  padding: 10px 80px; /* Espacio interno a los lados */
  cursor: pointer;
  color: black; /* Texto negro */
  border: 2px solid transparent; /* Borde transparente por defecto */
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.opcion:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada al pasar el mouse */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  background-color: #e0e0e0; /* Cambia el color de fondo */
  border-color: #ccc; /* Cambia el color del borde */
}

.completado {
  background-color: lightgreen;
}

#contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fila-superior, #fila-inferior {
  display: flex;
  justify-content: center;
  width: 100%;
}

#icon-container {
  display: flex;
  justify-content: space-between; /* Distribuye los iconos horizontalmente */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  margin-top: 20px; /* Añade un margen superior para separar del contenido anterior */
}

#homeLink {
  display: flex;
  align-items: center;
}

#inicio {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 20px; /* Añade un margen derecho para separar los iconos */
}

#tablero-de-juego {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos al centro del contenedor */
}

#homeLink img {
  width: 50px;
  height: 50px;
}

#volume-control {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 20px; /* Añade un margen izquierdo para separar los iconos */
}

.muted {
  filter: grayscale(100%); /* Cambia el estilo de la imagen cuando está muteada */
}
