body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 20px;
}

#logo {
    width: 100%;
    height: auto;
    max-width: 600px; /* Asegura que no sea más grande que el contenedor de felicitaciones */
    display: block;
    margin: 0 auto;
}

h1 {
    margin-top: 20px;
    font-size: 2em;
    color: #4CAF50;
}

#felicitaciones {
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Necesario para posicionar los iconos dentro de este contenedor */
}

#felicitaciones h2 {
    color: #4CAF50;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Puedes cambiar esto a la tipografía que prefieras */
}

#felicitaciones h3 {
    color: #4CAF50;
    font-size: 1.2em;
}

#icon-container {
    display: flex;
    justify-content: space-between;
    width: 50%; /* Asegura que el contenedor ocupe el 50% del ancho del contenedor padre */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
}

/* Estilos para los iconos */
#homeLink, #printLink {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    cursor: pointer;
}

#homeLink img, #printLink img {
    width: 150%;
    height: auto;
}
